* {
    font-family: Firacode, sans-serif;
    font-size: 14px;
    min-height: 0;
    padding-bottom: 2px;
    padding-top: 2px;
}

#battery {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
    padding: 2px 8px;
}

#battery.charging, #battery.plugged {
    color: #bada55;
    padding: 2px 8px;
}

#battery.critical:not(.charging) {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
    background-color: #f53c3c;
    color: gray;
}

#clock {
    background: #1f1f1f;
    color: #bada55;
    margin-right: 4px;
    padding: 2px 8px;
}

#network {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
    padding: 2px 8px;
}

#network.disconnected {
    background: #1f1f1f;
    color: red;
}

#tray {
    background: #1f1f1f;
    color: #bada55;
    margin-left: 18px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background: #1f1f1f;
    color: #bada55;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #1f1f1f;
    color: #bada55;
}

window#waybar {
    background: #000000;
    opacity: 0.7;
    border-bottom: 1px solid #332b2b;
    transition-duration: .2s;
    transition-property: background-color;
}

#workspaces button:hover {
    /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
    background: @background;
    border-bottom: 1px solid #bada55;
    box-shadow: inherit;
    color: #bada55;
}

#workspaces button {
    background: transparent;
    color: #bada55;
    margin-left: 2px;
    margin-right: 2px;
    opacity: 0.7;
}

#workspaces button.focused {
    background: #453e3d;
    color: #bada55;
    opacity: 0.8;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


/* Custom Stuff */
#custom-audio {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
    padding: 2px 8px;
}

#custom-hostname {
    background: transparent;
    color: #bada55;
    padding: 2px 8px;
    opacity: 0.7;
}

#custom-poweroff {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}

#memory {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}

#cpu {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}

#temperature {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}

#backlight {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}

#custom-keyboard_layout {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}

#custom-network_traffic {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}

#bluetooth {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}

#disk {
    background: transparent;
    color: #bada55;
    opacity: 0.7;
}